<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    {% block head %}
    <link rel="stylesheet" href="styles.css">

    <title> Foodfy</title>
    {% endblock %}
</head>

<header>
    <h3> <a href="/">Foodfy</a> </h3>
    <div class="links">
        <a href="/sobre"> Sobre  </a>
        <a href="/receitas">Receitas</a>
    </div>

</header>

<body>
    {% block content %} {% endblock %}

    <footer>
        <p>
            Todos os direitos reservados, receitas Foodfy.
        </p>
    </footer>
</body>
<script src="scripts.js"></script>

</html>