{% extends "layout.njk" %} {% block content%}

<main>
    <div class="about">
        <h2>Sobre o Foodfy</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem fugit iste aperiam, possimus ducimus exercitationem totam quibusdam minima consectetur et excepturi amet mollitia blanditiis eum dignissimos minus nisi doloribus magni! Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Impedit quam odit ipsum aliquam doloribus temporibus ipsa, officia aspernatur earum incidunt suscipit culpa, blanditiis quo laborum? Facere id obcaecati porro aut? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. elit. </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos maiores iste quae aut porro doloremque? Dolor beatae vitae ad architecto esse ab, rerum quis impedit optio non repudiandae laudantium itaque? Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Modi iste quisquam corporis cupiditate eius expedita deserunt ducimus quas? Nemo incidunt distinctio quaerat quas inventore quae rem eveniet delectus magni sit Lorem ipsum.

        </p>
    </div>
    <div class="how">
        <h2>Como tudo começou</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem fugit iste aperiam, possimus ducimus exercitationem totam quibusdam minima consectetur et excepturi amet mollitia blanditiis eum dignissimos minus nisi doloribus magni! Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Impedit quam odit ipsum aliquam doloribus temporibus ipsa, officia aspernatur earum incidunt suscipit culpa, blanditiis quo laborum? Facere id obcaecati porro aut? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. elit. </p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos maiores iste quae aut porro doloremque? Dolor beatae vitae ad architecto esse ab, rerum quis impedit optio non repudiandae laudantium itaque? Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Modi iste quisquam corporis cupiditate eius expedita deserunt ducimus quas? Nemo incidunt distinctio quaerat quas inventore quae rem eveniet delectus magni sit Lorem ipsum.

        </p>
    </div>
    <div class="how">
        <h2>Nossas receitas</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos maiores iste quae aut porro doloremque? Dolor beatae vitae ad architecto esse ab, rerum quis impedit optio non repudiandae laudantium itaque? Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Modi iste quisquam corporis cupiditate eius expedita deserunt ducimus quas? Nemo incidunt distinctio quaerat quas inventore quae rem eveniet delectus magni sit Lorem ipsum.

        </p>
    </div>

</main>

{% endblock %}